@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@mixin scrollbars($size, $foreground-color, $background-color) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
    background: $background-color;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    cursor: pointer;
  }
}
@include scrollbars(4px, #888, #fff);
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
  background-color: #ffffff;
  background-image: url(https://www.transparenttextures.com/patterns/axiom-pattern.png);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}
//====================選單樣式=====================
header {
  position: relative;
  width: 100%;
  border-top: 5px solid #144e8c;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  .container {
    width: 1280px;
    margin: 0 auto;
  }
  .top_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.hamburgur {
  cursor: pointer;
  padding: 20px 20px;
  display: none;
  background: #144e8c;
  .nav_icon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: all 0.2s ease-out;
    width: 24px;
    &::before,
    &::after {
      background: #fff;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }
    &::before {
      top: -5px;
    }
    &::after {
      top: 5px;
    }
  }
  .nav_open {
    background: transparent;
    &::before {
      top: 0;
      transform: rotate(-45deg);
    }
    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}
.menu {
  z-index: 100;
  position: sticky;
  top: 0px;
  background: #fff;
  box-shadow: 0px 5px 5px #c7c7c733;
  .parent_list {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    > li {
      cursor: pointer;
      flex: 1;
      font-size: 18px;
      color: #666;
      padding: 30px 0px;
      text-align: center;
      transition: all 0.3s;
      &:hover {
        box-shadow: inset 0px -6px 0px #feb646;
      }
    }
  }
  .hide {
    display: none;
  }
}

.dropdown {
  box-sizing: border-box;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #446180;
  background-image: url(https://www.transparenttextures.com/patterns/simple-dashed.png);
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  li {
    flex: 1;
    padding: 30px 10px;
    border: none;
    transition: all 0.3s;
    i {
      margin-right: 6px;
    }
    a {
      color: #fff;
    }
    &:hover {
      background-color: #6082a6;
      background-image: url(https://www.transparenttextures.com/patterns/simple-dashed.png);
      a {
        color: #fff;
      }
    }
  }
}
.header_up {
  transform: translateY(-90px);
}
.logo {
  padding: 10px;
  width: 320px;
  text-align: center;
  p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #666;
  }
  img {
    width: 100%;
  }
}
.logo_mobile {
  display: none;
  max-width: 178px;
}
.quick_link {
  display: flex;
  align-items: center;
  padding: 5px 30px;
}
.quick_btn {
  text-align: center;
  margin: 0px 10px;
  letter-spacing: 2px;
  border-radius: 3px;
  font-size: 16px;
  transition: all 0.3s;
}
.teacher_link {
  width: 120px;
  padding: 15px 5px;
  border: 1px solid #aaa;
  color: #666;
  &:hover {
    box-shadow: 0px 3px 0px #0b408e;
  }
}
.student_link {
  width: 150px;
  color: #fff;
  padding: 15px 30px;
  background: #ff9b00;
  i {
    margin: 0 10px;
    font-size: 26px;
  }
  &:hover {
    background: #feb646;
    box-shadow: 0px 3px 0px #d97704;
  }
}
//講師到課與聯絡
.three_quick_link {
  display: flex;
  align-items: center;
  margin: 0 30px;
  a {
    font-size: 14px;
    color: #333;
    margin: 0 15px;
    padding: 10px 0;
    letter-spacing: 1px;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 2px 0px #0b408e;
    }
    i {
      margin: 0 5px;
    }
  }
}
.mobile_menu {
  font-family: "Noto Sans TC", "微軟正黑體";
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  margin-top: 70px;
  padding: 10px 20px;
  box-sizing: border-box;
  opacity: 0;
  height: 100vh;
  //background: linear-gradient(to bottom, #144e8c, #3675c3);\
  background-color: #447ab2;
  background-image: url(https://www.transparenttextures.com/patterns/simple-dashed.png);
  transition: all 0.5s;
}
.mobile_menu_open {
  display: block;
  opacity: 1;
  left: 0;
  overflow: auto;
}

.mobile_block_list {
  padding: 5px 0;
  color: #fff;
  i {
    margin-right: 10px;
  }
  p {
    font-weight: 100;
    line-height: 40px;
    font-size: 18px;
  }
  .items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
      color: #fff;
      margin: 5px 0;
      padding: 5px 20px;
      border-right: 1px solid #fff;
      &:last-child {
        border: none;
      }
      &:hover {
        background: #fff;
        color: #0b408e;
      }
    }
  }
}
.mobile_menu_bottom {
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  .byemail {
    cursor: pointer;
    color: #144e8c;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 10px auto;
    background: #fff;
  }
  p {
    letter-spacing: 2px;
  }
  i {
    margin-right: 10px;
  }
}
//====================選單樣式=====================
//====================首頁樣式=====================
.all {
  width: 1280px;
  margin: auto;
}
.topSlide {
  width: 100%;
  position: relative;
  height: 680px;
  .slide_0 {
    background: url("../img/slide_0.jpg");
    display: block;
  }
  .slide_1 {
    background: url("../img/slide_1.jpg");
    display: none;
  }
  .slide_2 {
    background: url("../img/slide_2.jpg");
    display: none;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 60%;
  }
}

.hot {
  position: relative;
  width: 80%;
  border-radius: 2px;
  background: #fff;
  margin: 0 auto;
  margin-top: -100px;
  box-shadow: 5px 5px 0px rgba(214, 214, 214, 0.45);
  z-index: 1;
  .hot_news {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    letter-spacing: 1px;
    .icon_title {
      margin-bottom: 8px;
    }
    p {
      display: flex;
    }
    i {
      transform: rotate(-10deg);
      margin-right: 10px;
    }
    span {
      color: #999;
      letter-spacing: 1px;
      margin-right: 10px;
    }
  }
  .news_item {
    display: flex;
    margin: 5px 0;
    * {
      display: inline-block;
    }
    .categories {
      display: flex;
      align-items: flex-start;

      .class {
        color: #fff;
        font-size: 14px;
        padding: 0 5px;
        border-radius: 3px;
        font-weight: 100;
        margin: 0 10px;
        white-space: nowrap;
      }
      .date {
        color: #666;
        letter-spacing: 0px;
        font-size: 14px;
      }
    }
  }
  .congrats {
    background: orange;
  }
  .emergency {
    background: red;
  }
  .admin {
    background: #5d8ec3;
  }
  .normal {
    background: #79e479;
  }
}
.contain {
  padding: 15px 0px;
  box-sizing: border-box;
  position: relative;
}
.zzcc_news {
  .news_box{
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .navigate{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    .prev,.next{
      cursor: pointer;
      background: rgba(255, 255, 255, 0.7);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0px 1px 2px #333;
      i{
        font-size: 24px;
        line-height: 50px;
      }
    }
    .prev{
      margin-left: -20px;
    }
    .next{
      margin-right: -20px;
    }
  }
  .news_list {
    position: relative;
    left: 0;
    width: max-content;
    padding: 20px 10px;
    margin-top: 20px;
    box-sizing: border-box;
  }
  .block {
    display: inline-block;
    vertical-align: top;
    width: 296px;
    min-height: 400px;
    padding: 5px;
    margin: 0 5px;
    background: #fff;
    box-shadow: 0px 2px 3px #ddd;
    .date {
      display: inline-block;
      z-index: 1;
      position: absolute;
      padding: 3px 5px;
      letter-spacing: 1px;
      background: #000;
      color: #fff;
    }
    img {
      width: 100%;
      height: 100%;
      transition: all .3s;
    }
    .imgbox {
      width: 100%;
      height: 200px;
      overflow: hidden;
      &:hover{
        img{
          transform: scale(1.1,1.1)
        }
      }
    }
    .title{
      display: inline-block;
      font-weight: normal;
      font-size: 18px;
      padding: 5px 0;
      border-bottom: 1px solid #000;
    }
    p{
      padding: 5px 0;
      color: #444;
      font-size: 16px;
    }
    a{
      border: 1px solid #888;
      padding: 0px 5px;
    }
  }
}
.news_title {
  text-align: center;
  position: relative;
  h2 {
    font-style: italic;
    font-weight: normal;
    span {
      font-size: 18px;
    }
  }
  p {
    font-weight: normal;
    color: #aaa;
    letter-spacing: 2px;
  }
}

.show_all_news {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 2px solid #333;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  transition: all 0.3s;
  i {
    margin: 0px 5px;
  }
  &:hover {
    background: #446180;
    color: #fff;
  }
}
.other_news {
  ul {
    margin-top: 20px;
    background: #fff;
    position: relative;
    padding: 20px;
  }
  li {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
    .info {
      text-align: center;
      margin-right: 20px;
      .date {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 20px;
      }
      .class {
        text-align: center;
        background: #ccc;
        color: #fff;
        padding: 0 6px;
        font-size: 12px;
        line-height: 20px;
      }
    }
    a {
      font-size: 14px;
      text-decoration: underline;
    }
  }
}
//====================footer樣式=====================
footer {
  width: 100%;
  .container {
    width: 1280px;
    margin: auto;
  }
}
.backtop {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #446180;
  &:after {
    cursor: pointer;
    content: "";
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 20px 20px 20px;
    border-color: transparent transparent #fff transparent;
  }
}
// .other {
//   padding: 15px 0;
//   letter-spacing: 1px;
//   //background: url("../img/classroom_bg.jpg");
//   background-size: cover;
// }
.copyright {
  position: relative;
  padding: 25px 0;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #446180;
  background-image: url(https://www.transparenttextures.com/patterns/simple-dashed.png);
  .copyright_inner {
    width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .left {
    flex: 1;
  }
  .mid {
    flex: 2;
  }
  .rigth {
    flex: 1;
    text-align: center;
    i {
      color: #fff;
      margin: 0px 10px;
      font-size: 36px;
    }
  }
}
