@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@mixin scrollbars($size, $foreground-color, $background-color) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
    background: $background-color;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    cursor: pointer;
  }
}
@include scrollbars(4px, #888, transparent);
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  height: 2000px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-top: 5px solid #144e8c;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  .container {
    width: 1280px;
    margin: 0 auto;
  }
  .top_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.hamburgur {
  cursor: pointer;
  padding: 20px 20px;
  display: none;
  background: #144e8c;
  .nav_icon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: all 0.2s ease-out;
    width: 24px;
    &::before,
    &::after {
      background: #fff;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }
    &::before {
      top: -5px;
    }
    &::after {
      top: 5px;
    }
  }
  .nav_open {
    background: transparent;
    &::before {
      top: 0;
      transform: rotate(-45deg);
    }
    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}
.menu {
  .parent_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    > li {
      cursor: pointer;
      flex: 1;
      font-size: 18px;
      color: #666;
      padding: 30px 0px;
      text-align: center;
      transition: all 0.3s;
      &:hover {
        box-shadow: 0px 3px 0px #0b408e;
      }
    }
  }
  .hide {
    display: none;
  }
}

.dropdown {
  box-sizing: border-box;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #e1edff;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  li {
    flex: 1;
    padding: 30px 10px;
    border: none;
    transition: all 0.3s;
    i {
      margin-right: 6px;
    }
    &:hover {
      background: #0b408e;
      a {
        color: #fff;
      }
    }
  }
}
.header_up {
  transform: translateY(-90px);
}
.logo {
  padding: 10px;
  width: 320px;
  text-align: center;
  p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #666;
  }
  img {
    width: 100%;
  }
}
.logo_mobile{
  display: none;
  max-width: 178px;
}
.quick_link {
  display: flex;
  align-items: center;
  padding: 5px 30px;
}
.quick_btn {
  text-align: center;
  margin: 0px 10px;
  letter-spacing: 2px;
  border-radius: 3px;
  font-size: 16px;
  transition: all 0.3s;
}
.teacher_link {
  width: 120px;
  padding: 15px 5px;
  border: 1px solid #aaa;
  color: #666;
  &:hover {
    box-shadow: 0px 3px 0px #0b408e;
  }
}
.student_link {
  width: 150px;
  color: #fff;
  padding: 15px 30px;
  background: #ff9b00;
  i {
    margin: 0 10px;
    font-size: 26px;
  }
  &:hover {
    background: #feb646;
    box-shadow: 0px 3px 0px #d97704;
  }
}
//講師到課與聯絡
.three_quick_link {
  display: flex;
  align-items: center;
  margin: 0 30px;
  a {
    font-size: 14px;
    color: #333;
    margin: 0 15px;
    padding: 10px 0;
    letter-spacing: 1px;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 2px 0px #0b408e;
    }
    i {
      margin: 0 5px;
    }
  }
}
.mobile_menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  margin-top: 70px;
  padding: 10px 20px;
  box-sizing: border-box;
  opacity: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #144e8c, #3675c3);
  transition: all .5s; 
}
.mobile_menu_open{
  display: block;
  opacity: 1;
  left: 0;
  overflow: auto;
}

.mobile_block_list{
  padding: 5px 0;
  color: #fff;
  i{
    margin-right: 10px;
  }
  p{
    font-weight: 100;
    line-height: 40px;
    font-size: 18px;
  }
  .items{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    a{
      color: #fff;
      margin: 5px 0;
      padding: 5px 20px;
      border-right: 1px solid #fff;
      &:last-child{
        border: none;
      }
      &:hover{
        background: #fff;
        color: #0b408e;
      }
    }
  }
}
.mobile_menu_bottom{
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  .byemail{
    cursor: pointer;
    color: #144e8c;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 10px auto;
    background: #fff;
  }
  p{
    letter-spacing: 2px;
  }
  i{
    margin-right: 10px;
  }
}
.all{
  margin-top: 80px;
}