@media screen and (min-width: 768px) {
  .mobile_menu_open {
    display: none;
  }
}
// 如果使用者之視窗寬度小於1024，將會再載入這裡的 CSS。
@media screen and (max-width: 1024px) {
  header {
    .container {
      width: 100%;
    }
  }
  .three_quick_link {
    display: none;
  }
  .teacher_link {
    width: 80px;
    padding: 10px;
  }
  .student_link {
    width: 110px;
    padding: 10px;
    i {
      font-size: 16px;
    }
  }
  .menu {
    .parent_list {
      width: 100%;
    }
  }
  .all {
    width: 100%;
  }
  .topSlide {
    height: 468px;
  }
  .icon_title {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .hot .hot_news {
    display: block;
    margin: 0 5px;
    padding-bottom: 10px;
    flex-direction: column;
    p {
      display: block;
    }
    span {
      display: block;
    }
  }
  .zzcc_news {
    width: 95%;
    margin: auto;
  }
  .other_news {
    width: 95%;
    margin: auto;
  }
  footer {
    .copyright {
      padding: 15px 20px;
    }
    .copyright .copyright_inner {
      font-size: 12px;
      width: 100%;
    }
  }
  /*class*/
  .class_title {
    .contain {
      width: 100%;
      padding: 0px 30px;
    }
  }
  .search_tools {
    .tool {
      padding: 5px 0;
      div {
        margin: 0px 15px;
      }
      select {
        width: 120px;
      }
      label {
        display: inline-block;
        margin-bottom: 3px;
        padding: 3px 15px;
        font-size: 16px;
      }
      .for_kinds {
        select {
          width: 160px;
          height: 30px;
        }
        option {
          font-size: 16px;
        }
        label {
          width: 25px;
          height: 30px;
          padding: 0px;
          &::before {
            border: 12px solid #eff3f6;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
        }
      }
      .for_keyword {
        input {
          height: 30px;
        }
      }
    }
  }
  .search_result {
    table {
      width: 100%;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    border: none;
    position: sticky;
    top: 0px;
    z-index: 100;
  }
  .logo {
    padding: 0 10px;
  }
  .header_up {
    transform: translateY(0px);
  }
  .hamburgur {
    display: block;
    transition: all 0.3s;
  }
  .menu {
    display: none;
  }
  .quick_link {
    padding: 0px;
    background: #144e8c;
  }
  .quick_btn {
    margin: 0;
  }
  .teacher_link {
    display: none;
  }
  .student_link {
    font-size: 14px;
    border-radius: initial;
    i {
      line-height: 50px;
    }
    &:hover {
      box-shadow: none;
    }
  }
  .hot {
    .news_item {
      padding: 5px 0;
      font-size: 14px;
    }
  }
  .zzcc_news {
    .block {
      width: 330px;
    }
  }
  .news_title {
    p {
      font-size: 12px;
    }
  }
  .show_all_news {
    display: none;
    // position: relative;
    // font-size: 12px;
    // padding: 3px 5px;
  }
  /*class課程總覽*/
  .class_title {
    padding: 10px 0;
    h1 {
      font-size: 18px;
    }
  }
  .keywordsearch {
    display: none;
  }
  .search_tools {
    padding: 5px 20px;
    .remind {
      display: none;
    }
    .tool {
      flex-direction: column;
      div {
        display: flex;
        flex-wrap: wrap;
      }
      select {
        font-size: 14px;
      }
      label {
        font-size: 14px;
        margin: 0px 5px 5px 0px;
        padding: 2px 18px;
      }
      .kind_title {
        width: 100%;
        padding-bottom: 10px;
        font-size: 16px;
        padding-bottom: 5px;
      }
      .for_kinds {
        select {
          width: 100%;
        }
        option {
          font-size: 14px;
        }
        label {
          margin: 0;
          bottom: 0px;
        }
      }
      .for_keyword {
        input {
          font-size: 14px;
        }
      }
    }
  }

  table {
    background: none;
    thead {
      display: none;
    }
    td {
      padding: 0;
      font-size: 16px;
      padding: 5px 0;
    }
    tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      height: auto;
      margin: 10px auto;
      background: #fff;
      border: 1px solid #ccc;
      &:hover {
        background: none;
      }
    }
    .id {
      order: 0;
      width: 20%;
      background: #eee;
    }
    .class_name {
      width: 60%;
      display: block;
      text-align: left;
      order: 1;
      background: #eee;
    }

    .icon {
      order: 2;
      width: 20%;
      background: #eee;
    }
    .week {
      order: 3;
      width: 20%;
      font-size: 12px;
    }
    .period {
      order: 4;
      width: 40%;
      font-size: 12px;
      text-align: left;
    }
    .teacher {
      order: 5;
      width: 20%;
      font-size: 12px;
    }
    .sta {
      font-size: 12px;
      width: 20%;
      order: 6;
    }
    .fee {
      order: 0;
      display: none;
    }
  }
  .search_hr {
    margin: 0px 0px 30px 0px;
    p {
      padding: 10px;
      font-size: 16px;
    }
    hr{
      width: 90%;
    }
  }

  .favorite_box {
    table {
      td {
        margin: 0 auto;
      }
    }
  }

  .detail_box {
    .contain {
      width: 95%;
      height: 90%;
      padding: 50px 20px;
      &:hover {
        transform: initial;
      }
      .back {
        font-size: 32px;
        top: 5px;
        right: 15px;
      }
      .detail_title {
        font-weight: 600;
        font-size: 22px;
      }
      .detail_info {
        font-size: 14px;
        ul li .item {
          margin-right: 5px;
        }
        table {
          thead {
            display: none;
          }
          tr {
            width: 100%;
            margin: 5px 0;
            height: auto;
            .info_week {
              width: 20%;
              color: #fff;
              background: #395681;
            }
            .info_theme {
              width: 80%;
              color: #fff;
              background: #395681;
            }
            .info_detail {
              text-align: left;
              padding: 5px 10px;
            }
          }
          td {
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 468px) {
  .logo {
    width: 140px;
  }
  .logo_pc {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
  .mobile_block_list {
    p {
      line-height: 30px;
      font-size: 18px;
    }
    .items {
      a {
        margin: 5px 0;
        font-size: 14px;
        padding: 0px 10px;
      }
    }
  }
  .hot {
    width: 85%;
    box-shadow: 5px 5px 0px #ddd;
    .news_item {
      flex-direction: column;
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }
  .hot .news_item .categories .class {
    font-size: 12px;
  }
  .mobile_menu_bottom {
    h1 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .byemail {
      display: none;
    }
  }
  .topSlide {
    height: 300px;
  }
  .zzcc_news {
    width: 90%;
    .news_list {
      margin-top: 0;
      padding: 10px;
    }
    .news_box {
      overflow: auto;
      height: auto;
      padding: 0;
    }
    .navigate {
      display: none;
    }
    .block {
      width: 280px;
    }
  }
  .other_news li {
    display: block;
    padding: 0;
    border-bottom: 1px solid #ddd;
    .info {
      text-align: left;
      .class {
        display: none;
      }
    }
  }
  footer {
    .copyright .copyright_inner {
      flex-direction: column;
      text-align: center;
      div {
        margin: 5px 0;
      }
      i {
        font-size: 24px;
      }
    }
    .backtop {
      display: none;
    }
  }
  .favorite_tool {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      display: inline-block;
      width: 80%;
      margin: 5px 0;
      padding: 5px 15px;
      font-size: 14px;
      text-align: center;
      i {
        font-size: 14px;
      }
    }
  }
}
