@media screen and (min-width: 768px) {
  .mobile_menu_open {
    display: none;
  }
}
// 如果使用者之視窗寬度小於1024，將會再載入這裡的 CSS。
@media screen and (max-width: 1024px) {
  header {
    .container {
      width: 100%;
    }
  }
  .three_quick_link {
    display: none;
  }
  .teacher_link {
    width: 80px;
    padding: 10px;
  }
  .student_link {
    width: 110px;
    padding: 10px;
    i {
      font-size: 16px;
    }
  }
  .menu {
    .parent_list {
      width: 100%;
    }
  }
  .all {
    width: 100%;
  }
  .topSlide {
    height: 468px;
  }
  .icon_title {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .hot .hot_news {
    display: block;
    margin: 0 5px;
    padding-bottom: 10px;
    flex-direction: column;
    p {
      display: block;
    }
    span {
      display: block;
    }
  }
  .zzcc_news {
    width: 95%;
    margin: auto;
  }
  .other_news {
    width: 95%;
    margin: auto;
  }
  footer {
    .copyright {
      padding: 15px 20px;
    }
    .copyright .copyright_inner {
      font-size: 12px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    border: none;
    position: sticky;
    top: 0px;
    z-index: 100;
  }
  .logo {
    padding: 0 10px;
  }
  .header_up {
    transform: translateY(0px);
  }
  .hamburgur {
    display: block;
    transition: all 0.3s;
  }
  .menu {
    display: none;
  }
  .quick_link {
    padding: 0px;
    background: #144e8c;
  }
  .quick_btn {
    margin: 0;
  }
  .teacher_link {
    display: none;
  }
  .student_link {
    font-size: 14px;
    border-radius: initial;
    i {
      line-height: 50px;
    }
    &:hover {
      box-shadow: none;
    }
  }
  .hot {
    .news_item {
      padding: 5px 0;
      font-size: 14px;
    }
  }
  .zzcc_news {
    .block {
      width: 330px;
    }
  }
  .news_title {
    p {
      font-size: 12px;
    }
  }
  .show_all_news{
    display: none;
    // position: relative;
    // font-size: 12px;
    // padding: 3px 5px;
  }
}
@media screen and (max-width: 468px) {
  .logo{
    width: 140px;
  }
  .logo_pc {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
  .mobile_block_list {
    p {
      line-height: 30px;
      font-size: 18px;
    }
    .items {
      a {
        margin: 5px 0;
        font-size: 14px;
        padding: 0px 10px;
      }
    }
  }
  .hot {
    width: 85%;
    box-shadow: 5px 5px 0px #ddd;
    .news_item {
      flex-direction: column;
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }
  .hot .news_item .categories .class {
    font-size: 12px;
  }
  .mobile_menu_bottom {
    h1 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .byemail {
      display: none;
    }
  }
  .topSlide {
    height: 300px;
  }
  .zzcc_news {
    width: 90%;
    .news_list {
      margin-top: 0;
      padding: 10px;
    }
    .news_box {
      overflow: auto;
      height: auto;
      padding: 0;
    }
    .navigate {
      display: none;
    }
    .block {
      width: 280px;
    }
  }
  .other_news li {
    display: block;
    padding: 0;
    border-bottom: 1px solid #ddd;
    .info {
      text-align: left;
      .class {
        display: none;
      }
    }
  }
  footer {
    .copyright .copyright_inner {
      flex-direction: column;
      text-align: center;
      div {
        margin: 5px 0;
      }
      i {
        font-size: 24px;
      }
    }
    .backtop {
      display: none;
    }
  }
}
