@media screen and (max-width: 1024px) {
  header .container {
    width: 100%;
  }
  .three_quick_link {
    display: none;
  }
  .teacher_link {
    width: 80px;
    padding: 10px;
  }
  .student_link {
    width: 110px;
    padding: 10px;
  }
  .student_link i {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  header {
    border: none;
  }
  .logo {
    padding: 0 10px;
  }
  .header_up {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .hamburgur {
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .menu {
    display: none;
  }
  .quick_link {
    padding: 0px;
    background: #144e8c;
  }
  .quick_btn {
    margin: 0;
  }
  .teacher_link {
    display: none;
  }
  .student_link {
    font-size: 14px;
    border-radius: initial;
  }
  .student_link i {
    line-height: 50px;
  }
  .student_link:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 468px) {
  .logo_pc {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
}
