@media screen and (min-width: 768px) {
  .mobile_menu_open {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header .container {
    width: 100%;
  }
  .three_quick_link {
    display: none;
  }
  .teacher_link {
    width: 80px;
    padding: 10px;
  }
  .student_link {
    width: 110px;
    padding: 10px;
  }
  .student_link i {
    font-size: 16px;
  }
  .all {
    width: 100%;
  }
  .topSlide {
    height: 468px;
  }
  .icon_title {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .hot .hot_news {
    display: block;
    margin: 0 15px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hot .hot_news p {
    display: block;
  }
  .hot .hot_news span {
    display: block;
  }
  footer .copyright {
    padding: 15px 20px;
  }
  footer .copyright .copyright_inner {
    font-size: 12px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    border: none;
  }
  .logo {
    padding: 0 10px;
  }
  .header_up {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .hamburgur {
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu {
    display: none;
  }
  .quick_link {
    padding: 0px;
    background: #144e8c;
  }
  .quick_btn {
    margin: 0;
  }
  .teacher_link {
    display: none;
  }
  .student_link {
    font-size: 14px;
    border-radius: initial;
  }
  .student_link i {
    line-height: 50px;
  }
  .student_link:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .all {
    margin-top: 70px;
  }
  .hot .news_item {
    padding: 5px 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 468px) {
  .logo_pc {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
  .mobile_block_list p {
    line-height: 30px;
    font-size: 18px;
  }
  .mobile_block_list .items a {
    margin: 5px 0;
    font-size: 14px;
    padding: 0px 10px;
  }
  .hot {
    width: 85%;
    -webkit-box-shadow: 5px 5px 0px #ddd;
            box-shadow: 5px 5px 0px #ddd;
  }
  .hot .news_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .hot .news_item .categories .class {
    font-size: 12px;
  }
  .mobile_menu_bottom h1 {
    font-size: 16px;
  }
  .mobile_menu_bottom p {
    font-size: 12px;
  }
  .mobile_menu_bottom .byemail {
    display: none;
  }
  .topSlide {
    height: 300px;
  }
  footer .copyright .copyright_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .copyright .copyright_inner div {
    margin: 5px 0;
  }
  footer .copyright .copyright_inner i {
    font-size: 24px;
  }
  footer .backtop {
    display: none;
  }
}
