@media screen and (max-width: 1024px) {
  header .container {
    width: 100%;
  }
  .three_quick_link {
    display: none;
  }
  .teacher_link {
    width: 80px;
    padding: 10px;
  }
  .student_link {
    width: 110px;
    padding: 10px;
  }
  .student_link i {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  header {
    border: none;
  }
  .logo {
    padding: 0 10px;
  }
  .header_up {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .hamburgur {
    display: block;
    padding: 35px 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .hamburgur:hover {
    background: #2a6db5;
    -webkit-box-shadow: 0px 3px 0px #08284a;
            box-shadow: 0px 3px 0px #08284a;
  }
  .menu {
    display: none;
  }
  .quick_link {
    padding: 0px;
  }
  .quick_btn {
    margin: 0;
  }
  .teacher_link {
    display: none;
  }
  .student_link {
    font-size: 14px;
    padding: 26px 5px;
    border-radius: initial;
  }
}

@media screen and (max-width: 468px) {
  .logo_pc {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
}
