<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="中正社大,課程總覽,最新課程,所有課程" />
  <meta name="description" content="中正社大新學期最新課程總覽" />
  <meta name="author" content="臺北市中正社區大學">
  <title>臺北市中正社區大學</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/style/all.css">
  <link rel="stylesheet" href="../assets/style/rwd.css">
</head>

<body>
  <!--動態載入選單-->
  <header></header>
  <div class="menu"></div>
  <div class="mobile_menu"></div>
  <!--動態載入選單-->

  <div class="class_title">
    <div class="contain">
      <p>108-1</p>
      <h1>課程一覽</h1>
    </div>
  </div>
  <!--首頁內容-->
  <div class="all">
    <div class="search_tools">
      <div class="tool">
        <div class="for_kinds">
          <p class="kind_title">課程分類</p>
          <label for="search_kinds"></label>
          <select name="search_kinds" id="search_kinds" v-model='filter_kinds'>
            <option value="">全部</option>
            <option :value="kind" v-for="kind in filterKinds">{{kind}}</option>
          </select>
        </div>
        <div class="for_keyword">
          <p class="kind_title">關鍵字</p>
          <input type="text" id="keyserch" name="keyserch" placeholder="課程名稱關鍵字" v-model="filter_keyword">
        </div>
        <div class="for_weeks">
          <p class="kind_title">依星期分類</p>
          <input type="checkbox" id="search_mon" value="一" v-model="filter_weeks">
          <label for="search_mon">週一</label>
          <input type="checkbox" id="search_tue" value="二" v-model="filter_weeks">
          <label for="search_tue">週二</label>
          <input type="checkbox" id="search_wen" value="三" v-model="filter_weeks">
          <label for="search_wen">週三</label>
          <input type="checkbox" id="search_thu" value="四" v-model="filter_weeks">
          <label for="search_thu">週四</label>
          <input type="checkbox" id="search_fir" value="五" v-model="filter_weeks">
          <label for="search_fir">週五</label>
        </div>
      </div>
      <div class="tool">
        <div class="for_time">
          <p class="kind_title">時段選擇</p>
          <input type="checkbox" id="search_morning" value="上" v-model="filter_period">
          <label for="search_morning">上午</label>
          <input type="checkbox" id="search_afternoon" value="下" v-model="filter_period">
          <label for="search_afternoon">下午</label>
          <input type="checkbox" id="search_nigth" value="晚" v-model="filter_period">
          <label for="search_nigth">晚上</label>
        </div>
        <div class="for_other">
          <p class="kind_title">進階篩選</p>
          <input type="checkbox" id="search_new" value="★" v-model="filter_other">
          <label for="search_new">★新課程</label>
          <input type="checkbox" id="search_half" value="◆" v-model="filter_other">
          <label for="search_half">◆核心課程</label>
          <input type="checkbox" id="search_free" value="●" v-model="filter_other">
          <label for="search_free">●保證金課程</label>
        </div>
      </div>
      <p class="remind">貼心小提醒：可將有興趣的課程加入最愛，方便日後瀏覽；或點擊課程名稱查看詳細介紹。</p>
    </div>
    <div class="search_result">
      <div class="search_hr">
        <p v-if="filterClass.length==0">找不到課程... <i class="fas fa-spinner fa-pulse"></i></p>
        <p v-else>搜尋結果：第{{current_page}}頁，共計{{pagination.total_page}}頁，{{filterClass.length}}堂課程</p>
        <hr>
      </div>
      <table class="result_table">
        <thead>
          <tr>
            <th class="week">星期</th>
            <th class="period">上課時段</th>
            <th class="sta">開課狀況</th>
            <th class="id">課程編號</th>
            <th class="class_name">課程名稱</th>
            <th class="teacher">講師名稱</th>
            <th class="fee">學分費</th>
            <th class="icon">加入收藏</th>
          </tr>
        </thead>
        <tr v-for="item in filterClass.slice(pagination.page_star,pagination.page_end)">
          <td class="week">{{item.week}}</td>
          <td class="period">{{item.period}}{{item.time_start}}-{{item.time_end}}</td>
          <td class="sta">招生中</td>
          <td class="id">{{item.id}}</td>
          <td class="class_name">
            <input :id="item.id" type="radio" v-model="nowclass" :value="item.id" />
            <label :for="item.id" @click="showDetail(item.id)">{{item.class_name}}</label>
          </td>
          <td class="teacher">{{item.teacher}}</td>
          <td class="fee">{{item.fee}}</td>
          <td class="icon">
            <i class="fa fa-heart" v-if="item.star" @click="addFavorite(item.id)"></i>
            <i class="far fa-heart" v-else @click="addFavorite(item.id)"></i>
          </td>
        </tr>
      </table>
      <div class="pagination">
        <div @click="pageHandler">
          <span class="pre"><</span>
        </div>
        <div class="page">
          <span 
            v-for="page in pagination.total_page"
            @click="pageHandler(page)">{{page}}
          </span>
        </div>
        <p class="mobile_pages">{{current_page}}/{{pagination.total_page}}</p>
        <div @click="pageHandler">
          <span class="next">></span>
        </div>
      </div>
    </div>
    <div class="favorite_box">
      <div class="search_hr">
        <p>收藏課程：共計{{favorite.length}}筆</p>
        <hr>
      </div>
      <table>
        <thead>
          <tr v-if="favorite.length">
            <th class="week">星期</th>
            <th class="period">上課時段</th>
            <th class="sta">開課狀況</th>
            <th class="id">課程編號</th>
            <th class="class_name">課程名稱</th>
            <th class="teacher">講師名稱</th>
            <th class="fee">學分費</th>
            <th class="icon">加入收藏</th>
          </tr>
        </thead>
        <tr v-if="!favorite.length">
          <td colspan="8">- 尚未有任何收藏 -</td>
        </tr>
        <tr v-for="item in favorite">
          <td class="week">{{item.week}}</td>
          <td class="period">{{item.period}}{{item.time_start}}-{{item.time_end}}</td>
          <td class="sta">招生中</td>
          <td class="id">{{item.id}}</td>
          <td class="class_name">
            <input :id="item.id" type="radio" v-model="nowclass" :value="item.id" />
            <label :for="item.id" @click="showDetail(item.id)">{{item.class_name}}</label>
          </td>
          <td class="teacher">{{item.teacher}}</td>
          <td class="fee">{{item.fee}}</td>
          <td class="icon">
            <i class="fa fa-heart" v-if="item.star" @click="addFavorite(item.id)"></i>
            <i class="far fa-heart" v-else @click="addFavorite(item.id)"></i>
          </td>
        </tr>
      </table>
      <div class="favorite_tool">
        <div class="clear_fav" @click="clearStar">
          清除收藏<i class="far fa-trash-alt"></i>
        </div>
        <div class="back_to_search">
          返回<i class="far fa-arrow-alt-circle-left"></i>
        </div>
      </div>
    </div>
    <div class="detail_box">
      <div class="contain" v-for="detail in nowClass">
        <div class="back" @click="closeDetail"><i class="far fa-times-circle"></i>
        </div>
        <div class="detail_title">
          <div class="detail_id">{{detail.id}}</div>
          <div class="detail_class_name">{{detail.class_name}}</div>
        </div>
        <div class="detail_info">
          <ul>
            <li class="hl">
              <p class="item">課程編號：</p>
              <p class="info">{{detail.id}}</p>
            </li>
            <li>
              <p class="item">講師姓名：</p>
              <p class="info">{{detail.teacher}}</p>
            </li>
            <li>
              <p class="item">講師學歷：</p>
              <p class="info">{{detail.grade}}</p>
            </li>
            <li>
              <p class="item">講師經歷：</p>
              <p class="info">{{detail.exp}}</p>
            </li>
            <li class="hl">
              <p class="item">上課時段：</p>
              <p class="info">每{{detail.week}} {{detail.period}} {{detail.time_start}}-{{detail.time_end}}</p>
            </li>
            <li>
              <p class="item">課程理念：</p>
              <p class="info">{{detail.intro}}</p>
            </li>
            <li>
              <p class="item">教學方式：</p>
              <p class="info">{{detail.teach_way}}</p>
            </li>
            <li>
              <p class="item">評鑑方式：</p>
              <p class="info">{{detail.score}}</p>
            </li>
            <li>
              <p class="item">參考書目：</p>
              <p class="info">{{detail.book}}</p>
            </li>
            <li class="hl">
              <p class="item">選課要求：</p>
              <p class="info">{{detail.require}}</p>
            </li>
            <li>
              <p class="item">學分費用：</p>
              <p class="info">{{detail.fee}}</p>
            </li>
            <li class="hl">
              <p class="item">額外費用：</p>
              <p class="info">{{detail.other_fee}}</p>
            </li>
            <li>
              <p class="item">招生人數：</p>
              <p class="info">22人以上始開班</p>
            </li>
            <li>
              <p class="item">課程大綱：</p>
              <p class="info hl">※僅供學員參考，實際授課內容視學員需求調整</p>
            </li>
          </ul>
          <table>
            <thead>
              <tr>
                <td class="info_week">週次</td>
                <td class="info_theme">主題</td>
                <td class="info_detail">參考內容</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in schedule">
                <td class="info_week">{{item.w}}</td>
                <td class="info_theme">{{item.theme}}</td>
                <td class="info_detail">{{item.intro}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="favorite_icon">
      <p>已收藏<span>{{favorite.length}}</span>筆</p>
      <i class="fas fa-heart" v-if="favorite.length"></i>
      <i class="far fa-heart" v-else></i>
    </div>
  </div>

  <div class="backTop">Top</div>

  <!--頁底動態載入footer-->
  <footer></footer>
  <!--頁底動態載入footer-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://vuejs.org/js/vue.js'></script>
  <!--動態載入選單js-->
  <script src="../assets/js/menu.js"></script>
  <script src="../assets/js/all.js"></script>
  <script src="../assets/js/class.js"></script>
</body>

</html>